@font-face {
  font-family: 'hand_font';
  /*src: url('./font.eot');*/
  src: url('./font.eot?#iefix') format('embedded-opentype'),
  url('./font.woff') format('woff'),
  url('./font.ttf') format('truetype'),
  url('./font.svg#webfont34M5alKg') format('svg');
  font-weight: normal;
  font-style: normal;
}
